<!DOCTYPE html>
<html>
  <head>
    {{meta}}
    <title>{{title}}</title>
    {{stylesheets}}
    {{javascripts}}
  </head>
  <body{{#onload}} onload="{{onload}}"{{/onload}}{{#body_class}} class="{{body_class}}"{{/body_class}}{{#body_id}} id="{{body_id}}"{{/body_id}}>
    {{prepend_body}}
    {{> common/header}}
    {{> common/nav1}}
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            {{> common/tabs}}
            {{prepend_yield}}
            {{yield}}
          </div>
        </div>
      </div>
    </div>
    {{footer}}
    {{> common/gauges}}
  </body>
</html>