<!DOCTYPE html>
<html>
  <head>
    {{meta}}
    <title>{{title}}</title>
    {{institutional_stylesheets}}
    {{javascripts}}
  </head>
  <body>
    {{> bobcat/header}}
    {{> common/nav1}}
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span8">
            {{> common/tabs}}
            {{yield}}
          </div>
          <div class="span4">
            <div id="sidebar" class="sidebar">
              {{> bobcat/sidebar}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{footer}}
    {{> common/gauges}}
  </body>
</html>