<!DOCTYPE html>
<html>
  <head>
    {{meta}}
    <title>{{title}}</title>
    {{institutional_stylesheets}}
    {{#print_stylesheet?}}
    {{print_stylesheet}}
    {{/print_stylesheet?}}
    {{javascripts}}
  </head>
  <body>
    {{> bobcat/header}}
    {{> common/nav1}}
    <div class="nyu-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span10 eshelf-header hidden-phone">
            <h1 class="hidden-phone"><span>e-Shelf</span></h1>
            <span class="username hidden-phone">for {{username}}</span>
          </div>
          {{#back_to}}
            <div class="span2 back-to">{{back_to}}</div>
          {{/back_to}}
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div id="sidebar" class="navbar sidebar" data-spy="affix-top" data-offset-top="200">
              {{> users/shelf}}
            </div>
          </div>
          <div class="span9">
            {{yield}}
          </div>
        </div>
      </div>
    </div>
    {{footer}}
    {{> common/gauges}}
  </body>
</html>