<!DOCTYPE html>
<html>
  <head>
    {{meta}}
    <title>{{bobcat_title}}</title>
    {{institutional_stylesheet}}
    {{application_javascript}}
  </head>
  <body class="login">
    {{> bobcat/header}}
    {{> common/nav}}
    <section class="nyu-container container-fluid">
      {{yield}}
    </section>
    <section class="nyu-container container-fluid">
      <h3>
        Library services vary by institution. Please see the
        <a href="https://privileges.library.nyu.edu/" target="_blank">NYU Libraries Privileges Guide</a>.
      </h3>
    </section>
    {{> common/footer }}
  </body>
</html>
