<!DOCTYPE html>
<html>
  <head>
    {{meta}}
    <title>{{bobcat_title}}</title>
    {{institutional_stylesheet}}
    {{application_javascript}}
  </head>
  <body class="login">
    {{> common/header}}
    {{> common/nav}}
    <section class="nyu-container container-fluid">
      {{> common/alerts }}
      {{yield}}
    </section>
    {{> common/footer }}
  </body>
</html>
