<header id="header" class="header">
  <div class="parent"><a href="{{parent_home_url}}"><span>{{parent_home_title}}</span></a></div>
  <div class="institution"><a href="{{institution_home_url}}"><span>{{institution_home_title}}</span></a><span>{{institution.code}}</span></div>
  <div class="application"><span>{{application_title}}</span></div>
</header>
