<nav id="nav1" class="breadcrumb">
  <ul class="nyu-breadcrumbs">
    {{#breadcrumbs}}
      <li>{{.}}</li>
    {{/breadcrumbs}}
  </ul>
  <ul class="nyu-login">
    <li>{{login}}</li>
  </ul>
</nav>
