{{#show_tabs}}
{{! Use Twitter Bootstrap's responsive collapsible menu }}
<nav id="bobcat_tabs" class="navbar navbar-default navbar-tabs" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h4>{{tabs_header}}</h4>
  </div>
  <div class="navbar-collapse collapse user-util-collapse">
    <ul class="nav nav-tabs">
      {{# all_tabs}}
        <li class="{{klass}}" id="{{code}}">{{link}}</li>
      {{/ all_tabs}}
    </ul>
  </div>
</nav>
{{/show_tabs}}
