{{#show_tabs}}
{{! Use Twitter Bootstrap's responsive collapsible menu }}
<div id="bobcat_tabs" class="navbar-tabs">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h4>{{tabs_header}}</h4>
    <ul class="nav nav-tabs">
      {{# all_tabs}}
        <li class="{{klass}}" id="{{code}}">{{link}}</li>
      {{/ all_tabs}}
    </ul>
  </div>
</div>
{{/show_tabs}}
